<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="LegacySearchServiceName" value="" />
    <add key="LegacySearchServiceApiKey" value="" />
    <add key="LegacySearchIndex" value="" />
    <add key="TargetSearchServiceName" value="" />
    <add key="TargetSearchServiceApiKey" value="" />
    <add key="TargetSearchIndex" value="" />
  </appSettings>
</configuration>